@page
@model FilesModel
@{
    ViewData["Title"] = "Files";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item position-absolute w-75 h-75" src="FileSystem"></iframe>
</div>
